@import '~antd/dist/antd.css';

/* .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }
  [data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
  } */

.layout-100 {
  min-height: 100vh;
}

.site-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.main-header {
  background: "#fff";
  padding: 0;
  padding-left: 16px;
}